.stage-viewport {
    width: 100%;
    height: 100%;
    overflow: auto;
    user-select: none;
    background-color: #f1f1f1;
    position: relative;
    display: block;
}

.stage-canvas {
    width: 100%;
    height: 100%;
    user-select: none;
    display: block;
}

.stage-canvas:focus {
    outline: none;
}

.stage {
    left: 0%;
    top: 0%;
    margin-left: 150px;
    margin-top: 150px;
    user-select: none;
    border: 1px solid black;
}

.stage.inactive {
    pointer-events: none;
}

.stage-anchors {
    left: 0%;
    top: 0%;
    margin-left: 150px;
    margin-top: 150px;
    user-select: none;
    pointer-events: none;
    border: 1px solid transparent;
}

.anchors-holder.inactive {
    pointer-events: none;
}

.stage-item {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
    white-space: pre-line;
    overflow: hidden;
}

.anchors-holder {
    position: absolute;
    border: 1px dashed #43b2e5;
    z-index: 1;
    box-sizing: border-box;
    pointer-events: all;
}

.anchors-holder .mover {
    left: -4px;
    top: -4px;
    width: 8px;
    height: 8px;
    border: 1px dashed;
    box-sizing: border-box;
    /* z-index: 2; */
    background-color: #43b2e5;
    cursor: move;
}

.resizer {
    width: 16px;
    height: 16px;
    border: 1px dashed;
    box-sizing: border-box;
    /* z-index: 2; */
    background-color: #43b2e5;
}

.resizer.resizer-e {
    width: 6px;
    cursor: e-resize;
}

.resizer.resizer-s {
    height: 6px;
    cursor: s-resize;
}