@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background: #eaeaea;
}

.sidebar {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.titlebar {
    background: #283593;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.title-holder {

}

.title {
    font-size: 20px;
    padding: 4px;
    box-sizing: border-box;
}

.titlebar-actions {
    font-size: 10px;
    width: 100%;
    background-color: #00000042;
    padding: 4px;
    box-sizing: border-box;
}

.bar-options {
    width: 100%;
    height: 35px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #0000002e;
    border-right: 1px solid #0000002e;
}

.bar-options .icon {
    width: 32px;
    height: 32px;
    padding: 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: #2536af;
    user-select: none;
    border-right: 1px solid #00000014;
}

.bar-options .icon:hover {

}

.bar-options .icon:active {

}

.content {
    height: 100%;
    flex: 1;
}

.rsidebar {
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
    border-left: 1px solid #cecece;
}

.rsidebar-tabs {
    height: 32px;
    background-color: #283593;
    color: white;
}

.rsidebar-tab {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    line-height: 32px;
    cursor: pointer;
    user-select: none;
    color: lightgrey;
    transition: color 0.5s;
}

.rsidebar-tab:hover {
    color: white;
}

.rsidebar-tab:active {
    background-color: #0000003d;
}

.rsidebar-tab.selected {
    cursor: default;
    background-color: #0000003d;
    box-shadow: inset 0px 1px 1px 2px #0000004f;
    color: white;
}

.rsidebar-content {
    flex: 1;
}

.slidelist {
    height: calc(100% - 50px);
    overflow: auto;
    border-right: 1px solid #cecece;
    flex: 1;
    background-color: #f1f1f1;
}

.slidelist-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
}

.slidelist-item.selected {
    border-left: 5px solid #283593;
    font-weight: bold;
    color: #283593;
}

.slidelist-item:hover {
    background-color: #d2d7ff;
}

.slidelist-label {
    cursor: pointer;
    font-size: 16px;
    transition: color 0.5s;
}

.slidelist-label:active {
}

.ech-field {
    margin: 3px 5px;
}

.ech-field-two > .textfield {
    margin: 0px 10px;
}

.ech-iconedit {
    border-radius: 4px;
    border: 1px solid #00000029;
    padding: 3px 5px;
    outline: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    background-color: white;
}

.ech-iconedit:hover {
    box-shadow: inset 1px 2px 2px 0px #0000001f;
}

.ech-iconedit:focus-within {
    border-color: #3F51B5;
    box-shadow: inset 1px 2px 2px 0px #0000001f;
}

.ech-iconedit .textfield {
    width: 16px;
    text-align: center;
    color: #cecece;
}

.ech-iconedit input {
    width: 0;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    text-align: right;
}

.ech-superdropdownedit {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #00000029;
    padding: 3px 5px;
    outline: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    background-color: white;
}

.ech-superdropdownedit:hover {
    box-shadow: inset 1px 2px 2px 0px #0000001f;
}

.ech-superdropdownedit:focus-within {
    border-color: #3F51B5;
    box-shadow: inset 1px 2px 2px 0px #0000001f;
}

.ech-field-label {
    width: 16px;
    text-align: center;
    color: #cecece;
}

.ech-color-display {
    width: 8px;
    height: 8px;
    margin: 0px 2px 0px 6px;
    border: 1px solid black;
}

.ech-superdropdownedit input {
    width: 0;
    padding: 1px 4px;
    margin: 0px;
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
}

.ech-superdropdownedit:hover input {
    background-color: #f1f1f1;
}

.ech-superdropdownedit input:focus {
    background-color: #f1f1f1;
}

.ech-field-action {
    width: 16px;
    text-align: center;
    color: #8594ff;
    margin: 2px;
    cursor: pointer;
    font-size: 12px;
}

.ech-field-action:hover {
    color: #283593;
}

.ech-field-action:active {
}

.ech-field-action.selected {
    color: #283593;
}

.ech-colors-list {
    height: 100px;
    display: block;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #d1d1d1;
}

.ech-colors-list-item {
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.ech-colors-list-item:hover {
    background-color: #d2d7ff;
}

.adder {
    position: fixed;
    left: 200px;
    top: 0px;
    background-color: white;
    border: 1px solid #00000033;
    border-top: 3px solid #283593;
    border-left: 0px;
    border-radius: 0px 0px 5px 0px;
}

.adder .item {
    width: 32px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: #6b78d4;
    user-select: none;
    border-right: 1px solid #00000014;
}

.adder .item:hover {
    color: #283593;
    background-color: #2835931f;
}

.adder .item:active {
    color: #a2a2a2;
}

.ech-field-row {
    margin-top: 2px;
}

.ech-image-display-tiny {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fit-normal {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.fit-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fit-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fit-tile {
    background-size: auto;
    background-repeat: repeat;
}

.ech-dropdown-value {
    font-size: 12px;
    margin-left: 5px;
}

.ech-multilineedit {
    resize: unset;
    width: calc(100% - 12px);
    height: 50px;
}